# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
Vidly/App_Data/
Vidly/obj/Debug/TempPE/
